<div>
  {{link-to
    "route-without-query-params-reset"
    "route-without-query-params-reset"
    id="route-without-query-params-reset"
  }}
 </div>
 <div>
  {{link-to
    "route-with-query-params-reset"
    "route-with-query-params-reset"
    id="route-with-query-params-reset"
  }}
 </div>
